.right-main
  .right-messages
    .right-messages__post
      投稿一覧
  .right-message
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名1
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名2
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名3
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名4
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名1
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名2
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名3
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名4
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名1
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名2
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名3
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名4
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名1
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名2
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名3
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名4
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名
    .right-message__total
      .right-message__total__date
        2019年12月9日
      .right-message__total__list
        タイトル
      .right-message__total__name
        ユーザー名


