.right-main
  .right-icon
    .right-icon__total
      = link_to '#', class: "right-icon__total__btn" do
        = icon('fas', 'users-cog')
      = link_to '#', class: "right-icon__total__btn" do
        = icon('fas', 'door-closed')
  .right-messages
    .right-messages__post
      投稿一覧
  .right-message
    .right-message__info
      .right-message__info__total
        .right-message__info__total__date
          2019年12月9日
        .right-message__info__total__list
          タイトル
        .right-message__info__total__name
          ユーザー名1
      .right-message__info__total
        .right-message__info__total__date
          2019年12月19日
        .right-message__info__total__list
          タイトル
        .right-message__info__total__name
          ユーザー名2
      .right-message__info__total
        .right-message__info__total__date
          2019年12月21日
        .right-message__info__total__list
          タイトル
        .right-message__info__total__name
          ユーザー名3
      .right-message__info__total
        .right-message__info__total__date
          2019年12月26日
        .right-message__info__total__list
          タイトル
        .right-message__info__total__name
          ユーザー名4