@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "left-main";
@import "right-main";
@import "sing_up";
@import "log_in";
@import "scaffolds";
@import "post";

.header{
  height: 80px;
  width: 100vw;
  background-color: lightgrey;
  display: flex;
  &__title{
    padding-top: 15px;
    &__text{
      color: black;
      text-decoration: none;
      font-size: 40px;
      padding-left: 20px;
    }
  }
  &__right{
    position: absolute;
    top: 35px;
    right: 20px;
    &__icon{
      color: black;
      text-decoration: none;
      font-size: 1.3em;
      color: blue;
      &:hover{
        color: red;
      }
    }
  }
  &__btn{
    color: black;
    text-decoration: none;
    &:hover{
      color: red;
    }
  }
}