@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sing_up";
@import "log_in";
@import "scaffolds";
@import "post";
@import "list_index";
@import "details";
@import 'main-page';
@import 'user_edit';
@import "bootstrap";

.header{
  height: 80px;
  width: 100vw;
  background-color: lightgrey;
  display: flex;
  &__title{
    padding-top: 15px;
    &__text{
      color: black;
      text-decoration: none;
      font-size: 40px;
      padding-left: 20px;
      &:hover{
        text-decoration: none;
        color: red;
      }
    }
  }
  &__right{
    position: absolute;
    top: 35px;
    right: 20px;
    &__icon{
      color: black;
      text-decoration: none;
      font-size: 1.3em;
      color: blue;
      &:hover{
        color: red;
        text-decoration: none;
      }
    }
  }
  &__btn{
    color: black;
    text-decoration: none;
    &:hover{
      color: red;
    }
  }
}

.notice {
  background-color: lightBlue;
  text-align: center;
}

.alert {
  text-align: center;
  background-color: orange;
}