.main-top{
  width: 100vw;
  height: calc(100vh - 80px);
  position: relative;
  opacity: 0.8;
}
.main-info{
  position: absolute;
  top: 13%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  overflow: scroll;
  &_sel{
    font-weight: bold;
    position: fixed;
    left: 20px;
    &_content{
      font-size: 40px;
    }
    &_btn{
      text-decoration: none;
      font-size: 20px;
      color: #000000;
      &:hover{
        color: red;
        border-bottom: 1px solid red;
      }
    }
  }
  &_image{
    width: 500px;
    height: 300px;
  }
  th{
    padding: 6px;
    width: 200px;
    border: 1px solid #111111;
    border-collapse: collapse;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
  }
}