.main{
  height: calc(100vh - 100px);
  width: 100vw;
}

table{
  margin:0 10px 0 10px;
}

td:first-child{
  color: red;
}

td{
  width: 70px;
  line-height: 15px;
  text-align: center;
  font-size: 25px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
}

.left-main{
  height: calc(100vh - 80px);
  background-image: url(images.jpeg);
  width: calc(100vw - 50%);
  position: fixed;
  position: relative;
  &__month{
    text-align: center;
    font-size: 35px;
    padding: 20px 0 20px 0;
  }
  &__image{
    height: 270px;
    width: calc(100vw - 60vw);
    background-image: url(image5.jpeg);
    margin: 0 auto;
    padding-left: 10px;
  }
  &__date{
    position: absolute;
    left: 15px;
    margin: 0 auto;
    text-align: center;
    &__week{
      margin-top: 20px;
    }
    &__days{
      margin-top: 5px;
    }
  }
}