.main-image3{
  height: calc(100vh - 80px);
  width: 100vw;
  position: relative;
}
.main-logo{
  position: absolute;
  top: 13%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  &_info{
    font-size: 25px;
  }
  &_btn{
    text-decoration: none;
    color: black;
    &:hover{
      color: red;
    }
  }
}