.right-main{
  height: 100vh;
  width: calc(100vw - 50vw);
  background-color: red;
  float: right;
  position: absolute;
  right: 0;
  position: fixed;
  overflow: scroll;
  
  .right-messages{
    overflow: scroll;
    &__post{
      overflow: scroll;
      padding-top: 20px;
      text-align: center;
      font-size: 28px;
      height: 50px;
      border-bottom: 1px solid black;
    }
  }
  .right-message{
    overflow: scroll;
    &__total{
      overflow: scroll;
      margin: 0 15px 0 25px;
      display: flex;
      padding: 0 10px;
      width: fit-content;
      margin: 10px auto;
      justify-content: center;
      border: 5px solid black;
      border-radius: 50px;
      &__date{
        overflow: scroll;
        font-size: 15px;
      }
      &__list{
        overflow: scroll;
        font-size: 15px;
        padding: 0 30px;
      }
    }
  }
}