body {
  font-family: verdana, arial, helvetica, sans-serif;
}

table{
  margin: auto;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.simple-calendar{
  height: 50px !important;
  width: 1200px;
  margin: 0 auto;
}
.calendar-heading{
  box-sizing: border-box;
  margin-bottom: 5px;
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  &_btn{
    text-decoration: none;
    color: #333;
    &:hover{
      color: red;
    }
  }
}