h2{
  padding: 200px 0 0 20px;
  font-size: 60px;
}
.main-sign{
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: url(image4.jpeg);
  background-size: cover;
  display: flex;
}
.sign-in{
  padding-left: 300px;
}
.nickname{
  margin-top: 110px;
}
.email{
  margin: 10px 0 10px 0;
}
.password{
  margin: 10px 0 10px;
}
.box{
  height: 40px;
  width: 500px;
  font-size: 20px;
}
.btn{
  height: 30px;
  width: 150px;
  background-color: blue;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
