.main-remodeling{
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: url(image9.jpg);
  background-size: cover;
  display: flex;
  opacity: 0.8;
  &_top{
    padding: 280px 0 0 70px;
    font-size: 60px;
  }
  .field{
    margin: 13px 0 10px 0;
  }
  &_info{
    padding-left: 470px;
    margin-top: 50px;
    &_box{
      height: 35px;
      width: 400px;
      font-size: 20px;
    }
    &_btn{
      height: 35px;
      width: 332px;
      background-color: blue;
      color: #ffffff;
      margin-bottom: 10px;
      cursor: pointer;
    } 
    &_back{
      text-decoration: none;
      color: #000;
      font-size: 20px;
      font-weight: bold;
      &:hover{
        color: red;
        background-color: #ffffff;
        width: fit-content;
      }
    }
  }
  h3{
    font-weight: bold;
    background-color: #ffffff;
    width: fit-content;
  }
}