= image_tag 'image5.jpg', class: 'main-image3'
.main-logo
  日記一覧
  %table
    %thead
      %tr
        %th
          .main-logo_info
            タイトル
        %th
          .main-logo_info
            ユーザー名
        %th
          .main-logo_info
            日時
    %tbody
      -@plans.each do |plan| 
        -if plan.user_id == current_user.id
          %tr
            %td 
              = link_to plan.title, plan_path(plan.id), class: 'main-logo_btn'
            %td
              =plan.user.nickname
            %td
              = plan.start_time.strftime("%Y年%m月%d日")
